<section class="bg-blue-50 py-16">
    <div class="mx-auto max-w-2xl px-4">
        <h2 class="font-semibold text-2xl mb-2">Thanks for your order!</h2>
        <p class="text-blue-600 mb-6">Your order has been successfully processed.<span class="font-medium">#42</span> 
            We will send you an email confirmation shortly.

        </p>
        <div class="space-y-2 rounded-lg border border-blue-100 bg-gray-50 p-6 mb-8">
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Order Date</dt>
                <dd class="font-medium text-gray-900 text-end">feb 11, 2026</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Payment Method</dt>
                <dd class="font-medium text-gray-900 text-end">Credit Card</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Shipping Address</dt>
                <dd class="font-medium text-gray-900 text-end">address goes here</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Amount</dt>
                <dd class="font-medium text-gray-900 text-end">$129.99</dd>
            </dl>
        </div>
        <div class="flex items-center space-x-4">
            <button routerLink="/orders/42" mat-flat-button color="primary">View Order Details</button>
            <button routerLink="/shop" mat-stroked-button color="accent">Continue Shopping</button>

        </div>

    </div>
</section>
